In [1]:
import cloudscraper
import requests
from bs4 import BeautifulSoup
import pandas as pd
from utils import get_stars, get_href

In [2]:
session = requests.Session()
scraper = cloudscraper.create_scraper(
    browser={
        "browser": "chrome",
        "platform": "windows",
    },
)
url = "https://books.toscrape.com/"

In [3]:
response = scraper.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [4]:
products = soup.find('ol').find_all('li')

In [5]:
products[5]

<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
<article class="product_pod">
<div class="image_container">
<a href="catalogue/the-requiem-red_995/index.html"><img alt="The Requiem Red" class="thumbnail" src="media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg"/></a>
</div>
<p class="star-rating One">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="catalogue/the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>
<div class="product_price">
<p class="price_color">Â£22.65</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>
</li>

In [6]:

products_list = []
for product in products:
    idx = product.find(class_='image_container').a.get('href').split('/')[1].split('_')[1]
    image = product.find('img').get('src').split('/')[-1]
    stars = get_stars([r for r in product.find(class_='star-rating').get("class") if r != 'star-rating'][0])
    title = product.find(class_='image_container').a.get('href').split('/')[1].split('_')[0].replace('-', ' ')
    href = product.find(class_='image_container').a.get('href').split('/')[1]
    price = float(product.find(class_="price_color").text[2:])
    in_stock = 0
    if [1 for r in product.find(class_="instock availability").i.get('class') if r == 'icon-ok'][0] == 1 : in_stock = 1
    data = {
        "id": idx,
        "image": image,
        "stars": stars, 
        "title": title, 
        "price": price, 
        "in_stock": in_stock,
    }
    products_list.append(data)
products_list

[{'id': '1000',
  'image': '2cdad67c44b002e7ead0cc35693c0e8b.jpg',
  'stars': 3,
  'title': 'a light in the attic',
  'price': 51.77,
  'in_stock': 1},
 {'id': '999',
  'image': '260c6ae16bce31c8f8c95daddd9f4a1c.jpg',
  'stars': 1,
  'title': 'tipping the velvet',
  'price': 53.74,
  'in_stock': 1},
 {'id': '998',
  'image': '3eef99c9d9adef34639f510662022830.jpg',
  'stars': 1,
  'title': 'soumission',
  'price': 50.1,
  'in_stock': 1},
 {'id': '997',
  'image': '3251cf3a3412f53f339e42cac2134093.jpg',
  'stars': 4,
  'title': 'sharp objects',
  'price': 47.82,
  'in_stock': 1},
 {'id': '996',
  'image': 'bea5697f2534a2f86a3ef27b5a8c12a6.jpg',
  'stars': 5,
  'title': 'sapiens a brief history of humankind',
  'price': 54.23,
  'in_stock': 1},
 {'id': '995',
  'image': '68339b4c9bc034267e1da611ab3b34f8.jpg',
  'stars': 1,
  'title': 'the requiem red',
  'price': 22.65,
  'in_stock': 1},
 {'id': '994',
  'image': '92274a95b7c251fea59a2b8a78275ab4.jpg',
  'stars': 4,
  'title': 'the dirty little secrets of getting your dream job',
  'price': 33.34,
  'in_stock': 1},
 {'id': '993',
  'image': '3d54940e57e662c4dd1f3ff00c78cc64.jpg',
  'stars': 3,
  'title': 'the coming woman a novel based on the life of the infamous feminist victoria woodhull',
  'price': 17.93,
  'in_stock': 1},
 {'id': '992',
  'image': '66883b91f6804b2323c8369331cb7dd1.jpg',
  'stars': 4,
  'title': 'the boys in the boat nine americans and their epic quest for gold at the 1936 berlin olympics',
  'price': 22.6,
  'in_stock': 1},
 {'id': '991',
  'image': '5846057e28022268153beff6d352b06c.jpg',
  'stars': 1,
  'title': 'the black maria',
  'price': 52.15,
  'in_stock': 1},
 {'id': '990',
  'image': 'bef44da28c98f905a3ebec0b87be8530.jpg',
  'stars': 2,
  'title': 'starving hearts triangular trade trilogy 1',
  'price': 13.99,
  'in_stock': 1},
 {'id': '989',
  'image': '1048f63d3b5061cd2f424d20b3f9b666.jpg',
  'stars': 4,
  'title': 'shakespeares sonnets',
  'price': 20.66,
  'in_stock': 1},
 {'id': '988',
  'image': '5b88c52633f53cacf162c15f4f823153.jpg',
  'stars': 5,
  'title': 'set me free',
  'price': 17.46,
  'in_stock': 1},
 {'id': '987',
  'image': '94b1b8b244bce9677c2f29ccc890d4d2.jpg',
  'stars': 5,
  'title': 'scott pilgrims precious little life scott pilgrim 1',
  'price': 52.29,
  'in_stock': 1},
 {'id': '986',
  'image': '81c4a973364e17d01f217e1188253d5e.jpg',
  'stars': 5,
  'title': 'rip it up and start again',
  'price': 35.02,
  'in_stock': 1},
 {'id': '985',
  'image': '54607fe8945897cdcced0044103b10b6.jpg',
  'stars': 3,
  'title': 'our band could be your life scenes from the american indie underground 1981 1991',
  'price': 57.25,
  'in_stock': 1},
 {'id': '984',
  'image': '553310a7162dfbc2c6d19a84da0df9e1.jpg',
  'stars': 1,
  'title': 'olio',
  'price': 23.88,
  'in_stock': 1},
 {'id': '983',
  'image': '09a3aef48557576e1a85ba7efea8ecb7.jpg',
  'stars': 1,
  'title': 'mesaerion the best science fiction stories 1800 1849',
  'price': 37.59,
  'in_stock': 1},
 {'id': '982',
  'image': '0bbcd0a6f4bcd81ccb1049a52736406e.jpg',
  'stars': 2,
  'title': 'libertarianism for beginners',
  'price': 51.33,
  'in_stock': 1},
 {'id': '981',
  'image': '27a53d0bb95bdd88288eaf66c9230d7e.jpg',
  'stars': 2,
  'title': 'its only the himalayas',
  'price': 45.17,
  'in_stock': 1}]

In [7]:
columns = ["id", "image", "stars", "title", "price", "in_stock", "href"]
products_data = pd.DataFrame(products_list, columns=columns).set_index('id')
products_data

,image,stars,title,price,in_stock,href
id,,,,,,
1000,2cdad67c44b002e7ead0cc35693c0e8b.jpg,3,a light in the attic,51.77,1,NaN
999,260c6ae16bce31c8f8c95daddd9f4a1c.jpg,1,tipping the velvet,53.74,1,NaN
998,3eef99c9d9adef34639f510662022830.jpg,1,soumission,50.10,1,NaN
997,3251cf3a3412f53f339e42cac2134093.jpg,4,sharp objects,47.82,1,NaN
996,bea5697f2534a2f86a3ef27b5a8c12a6.jpg,5,sapiens a brief history of humankind,54.23,1,NaN
995,68339b4c9bc034267e1da611ab3b34f8.jpg,1,the requiem red,22.65,1,NaN
994,92274a95b7c251fea59a2b8a78275ab4.jpg,4,the dirty little secrets of getting your dream...,33.34,1,NaN
993,3d54940e57e662c4dd1f3ff00c78cc64.jpg,3,the coming woman a novel based on the life of ...,17.93,1,NaN
992,66883b91f6804b2323c8369331cb7dd1.jpg,4,the boys in the boat nine americans and their ...,22.60,1,NaN
991,5846057e28022268153beff6d352b06c.jpg,1,the black maria,52.15,1,NaN
990,bef44da28c98f905a3ebec0b87be8530.jpg,2,starving hearts triangular trade trilogy 1,13.99,1,NaN
989,1048f63d3b5061cd2f424d20b3f9b666.jpg,4,shakespeares sonnets,20.66,1,NaN
988,5b88c52633f53cacf162c15f4f823153.jpg,5,set me free,17.46,1,NaN
987,94b1b8b244bce9677c2f29ccc890d4d2.jpg,5,scott pilgrims precious little life scott pilg...,52.29,1,NaN
986,81c4a973364e17d01f217e1188253d5e.jpg,5,rip it up and start again,35.02,1,NaN
985,54607fe8945897cdcced0044103b10b6.jpg,3,our band could be your life scenes from the am...,57.25,1,NaN
984,553310a7162dfbc2c6d19a84da0df9e1.jpg,1,olio,23.88,1,NaN
983,09a3aef48557576e1a85ba7efea8ecb7.jpg,1,mesaerion the best science fiction stories 180...,37.59,1,NaN
982,0bbcd0a6f4bcd81ccb1049a52736406e.jpg,2,libertarianism for beginners,51.33,1,NaN
981,27a53d0bb95bdd88288eaf66c9230d7e.jpg,2,its only the himalayas,45.17,1,NaN

In [ ]:
href = get_href(products_data.iloc[1])
# products_data.iloc[1]
href

image       260c6ae16bce31c8f8c95daddd9f4a1c.jpg
stars                                          1
title                         tipping the velvet
price                                      53.74
in_stock                                       1
href                                         NaN
Name: 999, dtype: object