In [1]:
import cloudscraper
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
from utils import get_stars, get_href
from scraper import scrap_page

In [2]:
session = requests.Session()
scraper = cloudscraper.create_scraper(
    sess=session,
    browser={
        "browser": "chrome",
        "platform": "windows",
    },
)

In [3]:
products_list = []
for i in range(1, 51):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    products = scrap_page(url, scraper)
    products_list.extend(products)

In [4]:
columns = ["id", "image", "stars", "title", "type", "price", "in_stock"]
data = pd.DataFrame(products_list, columns=columns)
data

,id,image,stars,title,type,price,in_stock
0,1000,2cdad67c44b002e7ead0cc35693c0e8b.jpg,3,a light in the attic,Poetry,51.77,1
1,999,260c6ae16bce31c8f8c95daddd9f4a1c.jpg,1,tipping the velvet,Historical Fiction,53.74,1
2,998,3eef99c9d9adef34639f510662022830.jpg,1,soumission,Fiction,50.10,1
3,997,3251cf3a3412f53f339e42cac2134093.jpg,4,sharp objects,Mystery,47.82,1
4,996,bea5697f2534a2f86a3ef27b5a8c12a6.jpg,5,sapiens a brief history of humankind,History,54.23,1
...,...,...,...,...,...,...,...
995,5,96ee77d71a31b7694dac6855f6affe4e.jpg,1,alice in wonderland alices adventures in wonde...,Classics,55.53,1
996,4,097cb5ecc6fb3fbe1690cf0cbdea4ac5.jpg,4,ajin demi human volume 1 ajin demi human 1,Sequential Art,57.06,1
997,3,1b5ff86f3c75e51e24c573d3f8bffd8f.jpg,5,a spys devotion the regency spies of london 1,Historical Fiction,16.97,1
998,2,2b4161c5b72a4ae386b644682361b34a.jpg,1,1st to die womens murder club 1,Mystery,53.98,1
999,1,d70f7edd92705c45a82118c3ff6c299d.jpg,5,1000 places to see before you die,Travel,26.08,1

In [50]:
type_summary = data.groupby('type').agg(
    total=('price', 'sum'),
    count=('price', 'count'),
    avg_price=('price', 'mean'),
).reset_index()

overall_total = type_summary['total'].sum()
type_summary['pourcentage'] = (type_summary['total'] / overall_total) * 100

type_summary

                  type    total  count  avg_price  pourcentage
0             Academic    13.12      1  13.120000     0.037411
1        Add a comment  2398.36     67  35.796418     6.838711
2        Adult Fiction    15.36      1  15.360000     0.043798
3                  Art   308.16      8  38.520000     0.878691
4        Autobiography   333.48      9  37.053333     0.950889
5            Biography   168.31      5  33.662000     0.479921
6             Business   389.52     12  32.460000     1.110682
7            Childrens   946.51     29  32.638276     2.698890
8            Christian   127.49      3  42.496667     0.363526
9    Christian Fiction   206.31      6  34.385000     0.588275
10            Classics   694.36     19  36.545263     1.979906
11        Contemporary   108.60      3  36.200000     0.309663
12               Crime    10.97      1  10.970000     0.031280
13            Cultural    36.58      1  36.580000     0.104305
14             Default  5227.69    152  34.392697    14.906295
15             Erotica    19.19      1  19.190000     0.054719
16             Fantasy  1900.51     48  39.593958     5.419136
17             Fiction  2344.33     65  36.066615     6.684650
18      Food and Drink   942.44     30  31.414667     2.687284
19              Health   205.81      4  51.452500     0.586849
20          Historical    45.66      2  22.830000     0.130195
21  Historical Fiction   874.75     26  33.644231     2.494272
22             History   671.31     18  37.295000     1.914181
23              Horror   611.14     17  35.949412     1.742612
24               Humor   335.01     10  33.501000     0.955251
25               Music   463.28     13  35.636923     1.321002
26             Mystery  1015.01     32  31.719062     2.894211
27           New Adult   278.30      6  46.383333     0.793548
28          Nonfiction  3768.62    110  34.260182    10.745886
29              Novels    54.81      1  54.810000     0.156286
30          Paranormal    15.40      1  15.400000     0.043912
31           Parenting    37.35      1  37.350000     0.106500
32          Philosophy   369.14     11  33.558182     1.052570
33              Poetry   683.51     19  35.974211     1.948968
34            Politics   160.84      3  53.613333     0.458621
35          Psychology   239.53      7  34.218571     0.682999
36            Religion   227.97      7  32.567143     0.650036
37             Romance  1187.68     35  33.933714     3.386564
38             Science   463.24     14  33.088571     1.320888
39     Science Fiction   540.84     16  33.802500     1.542157
40           Self Help   203.10      5  40.620000     0.579122
41      Sequential Art  2592.92     75  34.572267     7.393482
42       Short Stories    35.88      1  35.880000     0.102309
43        Spirituality   210.59      6  35.098333     0.600479
44    Sports and Games   205.83      5  41.166000     0.586906
45            Suspense    58.33      1  58.330000     0.166323
46            Thriller   345.77     11  31.433636     0.985933
47              Travel   437.74     11  39.794545     1.248177
48      Womens Fiction   625.45     17  36.791176     1.783415
49         Young Adult  1914.25     54  35.449074     5.458315

In [ ]:
response = scraper.get("https://books.toscrape.com/catalogue/page-1.html")
soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
products = soup.find('ol').find_all('li')

In [ ]:
products[5]

In [ ]:

products_list = []
for product in products:
    idx = product.find(class_='image_container').a.get('href').split('/')[0].split('_')[1]
    image = product.find('img').get('src').split('/')[-1]
    stars = get_stars([r for r in product.find(class_='star-rating').get("class") if r != 'star-rating'][0])
    title = product.find(class_='image_container').a.get('href').split('/')[0].split('_')[0].replace('-', ' ')
    href = product.find(class_='image_container').a.get('href').split('/')[1]
    price = float(product.find(class_="price_color").text[2:])
    in_stock = 0
    if [1 for r in product.find(class_="instock availability").i.get('class') if r == 'icon-ok'][0] == 1 : in_stock = 1
    data = {
        "id": idx,
        "image": image,
        "stars": stars, 
        "title": title, 
        "price": price, 
        "in_stock": in_stock,
    }
    products_list.append(data)
products_list

In [ ]:
products_data = pd.DataFrame(products_list, columns=columns).set_index('id').reset_index()
products_data

In [ ]:
href = get_href(products_data.iloc[1])
href

In [ ]:
def get_book_type(product, scraper):
    href = get_href(product)
    url = f"https://books.toscrape.com/{href}"
    response = scraper.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    type = soup.find(class_="breadcrumb").contents[5].a.text
    return type

p = {'id': '1000',
  'image': '2cdad67c44b002e7ead0cc35693c0e8b.jpg',
  'stars': 3,
  'title': 'a light in the attic',
  'price': 51.77,
  'in_stock': 1}

l = get_book_type(p, scraper)
l